<div class="moe-icp">
  <img src="/images/moeicp-icon64.png" alt="" style="width:24px;height:24px;display:inline-block;vertical-align:middle;">
  <a href="https://icp.gov.moe/?keyword=20245432" target="_blank" style="display:inline-block;vertical-align:middle;">
    萌ICP备20245432号
  </a>
  <span>|</span>
  <img src="/images/travel-icon64.png" alt="" style="width:24px;height:24px;display:inline-block;vertical-align:middle;">
  <a href="https://travel.moe/go.html?travel=on" target="_blank" style="text-decoration:none;color:#51c4d3;display:inline-block;vertical-align:middle;">
    异次元之旅🚀
  </a>
</div>
